<div class="list-container">

    <div class="primera-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Limonada clásica
                <span class="badge rounded-pill">$600</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Limonada con menta y jengibre
                <span class="badge rounded-pill">$650</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Pomelada
                <span class="badge rounded-pill">$650</span>
            </li>
        </ul>
    </div>

    <div class="segunda-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Coca Cola
                <span class="badge rounded-pill">$450</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Agua
                <span class="badge rounded-pill">$400</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Red Bull
                <span class="badge rounded-pill">$650</span>
            </li>
        </ul>
    </div>


    <div class="tercera-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Cafe
                <span class="badge rounded-pill">$450</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Expresso Tonic
                <span class="badge rounded-pill">$500</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Tonica 
                <span class="badge rounded-pill">$400</span>
            </li>
        </ul>
    </div>

</div>