<div class="list-container">

    <div class="primera-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Negroni
                <span class="badge rounded-pill">$800</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Gin Tonic
                <span class="badge rounded-pill">$750</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Cuba Libre
                <span class="badge rounded-pill">$690</span>
            </li>
        </ul>
    </div>

    <div class="segunda-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Fernet Branca
                <span class="badge rounded-pill">$680</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Vino Tinto (Copa)
                <span class="badge rounded-pill">$650</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Vino Blanco (Copa)
                <span class="badge rounded-pill">$650</span>
            </li>
        </ul>
    </div>


    <div class="tercera-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Americano
                <span class="badge rounded-pill">$750</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Vermut
                <span class="badge rounded-pill">$800</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Jagger
                <span class="badge rounded-pill">$800</span>
            </li>
        </ul>
    </div>

</div>