<div class="container bar">
  <label class="floatLeft" for="navBtn"><span></span></label>
</div>
<div class="container">
  <input type="checkbox" class="navBtn" id="navBtn" />
  <nav>
      <ul>
          <li>
              <a href="#"><i class="fa fa-heart"></i>Cervezas</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-medkit"></i>Aperitivos</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-heartbeat"></i>Cocteles</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-ambulance"></i>Comida</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-ambulance" style="text-align: justify; position: absolute; right: 10%;"></i>Sin Alcohol</a>
        </li>
          <li>
            <a href="#"><i class="fa fa-ambulance"></i>Promos</a>
        </li>
      </ul>
  </nav>
</div>