<div class="list-container">

    <div class="primera-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Quilmes
                <span class="badge rounded-pill">$450</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Heineken
                <span class="badge rounded-pill">$650</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Stella Artois
                <span class="badge rounded-pill">$650</span>
            </li>
        </ul>
    </div>

    <div class="segunda-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Andes
                <span class="badge rounded-pill">$650</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Patagonia
                <span class="badge rounded-pill">$700</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Artesanal IPA
                <span class="badge rounded-pill">$750</span>
            </li>
        </ul>
    </div>


    <div class="tercera-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Artesanal APA
                <span class="badge rounded-pill">$750</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Artesanal ROJA
                <span class="badge rounded-pill">$750</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Artesanal Negra
                <span class="badge rounded-pill">$750</span>
            </li>
        </ul>
    </div>

</div>