<div class="ubi-container">

    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3713.1282784065784!2d-64.19508991959742!3d-31.42560976858064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a287795d2fab%3A0x2da11a9a601c3ab3!2zR8O8ZW1lcywgQ8OzcmRvYmEsIENvcmRvYmE!5e0!3m2!1sen!2sar!4v1674157250168!5m2!1sen!2sar"
            width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="pic">
        <img src="../../../../assets/bar.jpeg">
    </div>

</div>