@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

body {
    background-color: #21331d;
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: thebold;
    src: url(../src/assets/Font/THEBOLDFONT.ttf) format("opentype");
  }
