<div class="list-container">

    <div class="primera-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nachos con Cheddar
                <span class="badge rounded-pill">$1000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nachos con Guacamole
                <span class="badge rounded-pill">$1150</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Papas Bravas
                <span class="badge rounded-pill">$1000</span>
            </li>
        </ul>
    </div>

    <div class="segunda-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Papas con cheddar
                <span class="badge rounded-pill">$1000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Papas Gramajo
                <span class="badge rounded-pill">$1000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Tabla Fiambres
                <span class="badge rounded-pill">$1500</span>
            </li>
        </ul>
    </div>


    <div class="tercera-col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Picada Vegetariana
                <span class="badge rounded-pill">$1200</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Picada Vegana
                <span class="badge rounded-pill">$1300</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Pizza
                <span class="badge rounded-pill">$1100</span>
            </li>
        </ul>
    </div>

</div>